body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #eef2f3, #8e9eab);
}

header {
  background-color: #0073e6;
  color: white;
  padding: 20px;
  text-align: center;
  animation: fadeInDown 1s;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #005bb5;
}

section {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  color: #0073e6;
  cursor: pointer;
}

.details {
  display: block; /* Ensure content shows up when toggled */
  animation: fadeIn 0.5s ease-in-out;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #0073e6;
  color: white;
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
